{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/carto.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

{% block content %}
    <article class='map-show-container'>
        <div id='map' ></div>
    </article>
    <article class='panel-container'>
        <table>
            <tr>
                <td>Nom</td>
                <td>{{ parking.nom }}</td>
            </tr>
            <tr>
                <td>Informations</td>
                <td>{{ parking.informations }}</td>
            </tr>
            <tr>
                <td>Etat</td>
                <td>{{ parking.etat }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>adresse</td>
                <td>{{ parking.adresse }}</td>
            </tr>
            <tr>
                <td>latitude</td>
                <td>{{ parking.latitude }}</td>
            </tr>
            <tr>
                <td>longitude</td>
                <td>{{ parking.longitude }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Places Vélos</td>
                <td>{{ parking.placesVelos }}</td>
            </tr>
            <tr>
                <td>Places Voitures</td>
                <td>{{ parking.placesVoitures }}</td>
            </tr>
            <tr>
                <td>Places Totales</td>
                <td>{{ parking.placesTotal }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Date création</td>
                <td>{{ parking.cdate | date('Y-m-d\\TH:i:s') }}</td>
            </tr>
            <tr>
                <td>Date mise à jour</td>
                <td>{{ parking.mdate | date('Y-m-d\\TH:i:s') }}</td>
            </tr>
        </table>
    </article>
{% endblock %}

{% block script %}
    const lonCustom = {{ parking.longitude }};
    const latCustom = {{ parking.latitude }};
    const etatCustom = "{{ parking.etat }}";
{% endblock %}

{% block postscript %}
    <script src="/assets/js/parking.js"></script>
{% endblock %}

