{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/carto.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

{% block content %}
    <article class='map-show-container'>
        <div id='map' ></div>
    </article>
    <article class='panel-container'>
        <table>
            <tr>
                <td>Gid</td>
                <td>{{ station.gid }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ station.nom }}</td>
            </tr>
            <tr>
                <td>Commune</td>
                <td>{{ station.commune }}</td>
            </tr>
            <tr>
                <td>Etat</td>
                <td>{{ station.etat }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>latitude</td>
                <td>{{ station.latitude }}</td>
            </tr>
            <tr>
                <td>longitude</td>
                <td>{{ station.longitude }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Vélos</td>
                <td>{{ station.nbvelos }} / {{ station.nbplaces }}</td>
            </tr>
            <tr>
                <td>Classiques</td>
                <td>{{ station.nbclassiq }}</td>
            </tr>
            <tr>
                <td>Electriques</td>
                <td>{{ station.nbelec }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Date création</td>
                <td>{{ station.cdate | date('Y-m-d\\TH:i:s') }}</td>
            </tr>
            <tr>
                <td>Date mise à jour</td>
                <td>{{ station.mdate | date('Y-m-d\\TH:i:s') }}</td>
            </tr>
        </table>
    </article>
{% endblock %}

{% block script %}
    const lonCustom = {{ station.longitude }};
    const latCustom = {{ station.latitude }};
    const etatCustom = "{{ station.etat }}";
{% endblock %}

{% block postscript %}
    <script src="/assets/js/station.js"></script>
{% endblock %}

